---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Showcase from "../components/Showcase.astro";
---

<Layout title="Samuel | Portfolio">
  <main>
    <Hero />
    <Showcase />
  </main>
</Layout>
