<footer class="footer">
  <h3>Made with ❤️ in <img src="/astro-icon.svg" width={24} height={24} /></h3>

  <style scoped>
    .footer {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 20px 12px;
      display: flex;
      justify-content: center;
    }
    .footer > h3 {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
  </style>
</footer>
